// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(18, 19, 28);
}

.container{
  text-align: center;
  width: 500px;

  margin: 5em auto;

  div.form-group span{
    position: absolute;
    transform:  translate(-28%,150%);;
  }
}
